<!DOCTYPE html>
<html lang="en" data-ng-app="blogApp">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Real-Time Blog App</title>

	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="lib/css/bootstrap.min.css">
	<link rel="stylesheet" href="lib/css/bootstrap-theme.min.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="css/main.css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

		<div class="container">

			<!-- Brand and toggle getconsole.log('running a node server on root folder: ' + __dirname + '/../client/', 'listening on port: ' + app.get('port') );
 grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#/">Netcraft Academy</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav" data-ng-controller="navbarController as nav"
					data-ng-click="nav.changeTabs($event)"
					id="navbarLinks">
					<li>
						<a href="" class="active">Posts</a>
					</li>
					<li>
						<a href="">Admin</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->

		</div>
		<!-- /.container -->
	</nav>

	<!-- Page Content -->
	<div class="container">

		<div class="row">





					<!-- Dynamic Content Here -->
					<ng-view></ng-view>





			<!-- Blog Sidebar Widgets Column -->
			<aside class="col-md-4" data-ng-controller="sideBarController as sb" id="sidebar">

				<!-- Blog Search Well -->
				<div class="well">
					<h4>Search</h4>

					<form data-ng-submit="sb.submitSearch($event); sb.clicker($event)">
						<div class="input-group">
							<input type="search" name="search" class="form-control" data-ng-model="sb.searchVal">
							<span class="input-group-btn">
								<button class="btn btn-default" type="submit">
									<span class="glyphicon glyphicon-search"></span>
								</button>
							</span>
						</div>
						<!-- /.input-group -->
					</form>
				</div>

				<!-- Blog Categories Well -->
				<div class="well" data-ng-click="sb.clicker($event)">
					<h3>Filter Posts</h3>


					<!-- ========================
								Show All
					     ======================== -->
					<div class="list-group" >
						<a href="" class="list-group-item active" id="showAllPosts"
						   data-ng-click="sb.updateUrl()">
							<span class="badge" ng-bind="sb.numberOfAllPosts"></span>
							Show All Posts
						</a>
					</div>


					<!-- ========================
								Categories
					     ======================== -->
					<!--/posts?category={{tag.$key.toLowerCase()}}-->
					<h4><small class="glyphicon glyphicon-tag"></small> Category</h4>
					<div class="list-group">
						<a href=""
						   data-ng-click="sb.updateUrl('category', tag.$key.toLowerCase())"
						   class="list-group-item"
						   data-ng-repeat="tag in sb.tags | toArray | orderBy: '$key'">
							<span class="badge">{{tag.length}}</span>
							{{tag.$key}}
						</a>
					</div>


					<!-- ========================
								Authors
					     ======================== -->
					<h4><small class="glyphicon glyphicon-user"></small> Author</h4>
					<div class="list-group">
						<a href="" class="list-group-item"
						   data-ng-click="sb.updateUrl( 'author', author.$key.replace(' ', '-').toLowerCase() )"
						   data-ng-repeat="author in sb.authors | toArray | orderBy: '$key'">
							<span class="badge" ng-bind="author.length"></span>
							{{author.$key}}
						</a>
					</div>


					<!-- ========================
								Month
					     ======================== -->
					<h4><small class="glyphicon glyphicon-time"></small> Month</h4>
					<div class="list-group" >
						<div data-ng-repeat="years in sb.dates | orderBy: '-0'"
						data-ng-controller="monthController">
							<span class="list-group-item disabled" data-ng-click="$event.stopPropagation()">
								{{years[0]}}
							</span>

							<a href="" class="list-group-item"
							   data-ng-click="sb.updateUrl( 'month', toMonth(months[0]).toLowerCase() + '-' +  years[0] )"
							   data-ng-repeat="months in years | limitTo: years.length-1: 1"
							   data-ng-controller="monthController">
								<span class="badge">{{months[1].length }}</span>
									{{toMonth(months[0])}}
							</a>
						</div>
					</div>
				</div>
			</aside>

		</div>
		<!-- /.row -->

		<hr>

		<!-- Footer -->
		<footer>
			<div class="row">
				<div class="col-lg-12">
					<p>Copyright &copy; Netcraft Academy 2015</p>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
		</footer>

	</div>
	<!-- /.container -->

	<!-- Libraries -->
	<script src="lib/js/jquery.min.js"></script>
	<script src="lib/js/bootstrap.min.js"></script>
	<script src="lib/js/marked.min.js"></script>

	<script src="lib/js/angular.js"></script>
	<script src="lib/js/angular-route.js"></script>
	<script src="lib/js/angular-sanitize.js"></script>
	<script src="lib/js/toArrayFilter.js"></script>


	<!-- App -->
	<script src="app/app.js"></script>
	<script src="app/components/thumb-post/posts-directive.js"></script>
	<script src="app/services/postsService.js"></script>
	<script src="app/posts/controllers/postsController.js"></script>
	<script src="app/services/pagination.js"></script>
	<script src="app/posts/controllers/singlePostController.js"></script>
	<script src="app/components/sidebar/sideBarController.js"></script>
	<script src="app/components/sidebar/monthController.js"></script>
	<script src="app/admin/controllers/adminController.js"></script>
	<script src="app/components/navbar/navbarController.js"></script>
	<script src="app/admin/controllers/editNewController.js"></script>


</body>
</html>
