<section class="col-md-8">
    <h2 class="page-header">Edit posts</h2>

    <table class="table table-bordered table-hover table-striped postsTable">
        <thead data-ng-click="admin.clickedOnFilter($event)">
        <tr>
            <th data-ng-click="$event.stopPropagation();">#</th>
            <th>
                Title
                <span class="pull-right">
                </span>
            </th>
            <th>
                Author
                <span class="pull-right">
                </span>
            </th>
            <th>
                Date
                <span class="pull-right">

				</span>
            </th>
        </tr>
        </thead>

        <tbody>
        <tr data-ng-repeat="post in admin.posts | orderBy: admin.order">
            <th>{{$index +1}}</th>
            <td>{{post.title}}</td>
            <td>{{post.author}}</td>
            <td>{{post.date | date: 'mediumDate'}}</td>
        </tr>
        </tbody>
    </table>

    <footer>
        <a class="btn btn-primary" href="#">Add New Post</a>
    </footer>
</section>